{% extends 'base.html' %}

{% block title %}
    Share a post
{% endblock %}


{% block content %}
    {% if sent %}
        <h1>E-mail successfully sent</h1>
        <p>
            {{ post.name }} was successfully sent to {{ post.cleaned_data.to }}
        </p>
    {% else %}
    <section class="wrapper">
        <div class="form signup">
            <h1>
                Share {{ post.name}} by e-mail 
            </h1>
            <form method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="submit" value="Send">
            </form>
        </div>
    </section>
    {% endif %}
{% endblock %}